<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    {% for block in section.blocks %}
      <div class="slider-item d-flex align-items-center justify-content-start" style="background-image: url('{{ block.settings.bg_image | image_url }}'); background-size: cover; background-position: center center; min-height: 100vh;">


        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text" data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate text-left">
              <h1 class="mb-2">{{ block.settings.heading }}</h1>
              <h2 class="subheading mb-4">{{ block.settings.subheading }}</h2>
              <p>
                <a href="{{ block.settings.button_link }}" class="btn btn-primary">
                  {{ block.settings.button_text }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    
  </div>
</section>

{% schema %}
{
  "name": "Hero Slider",
  "tag": "section",
  "class": "hero-slider-section",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Main Heading",
          "default": "We serve Fresh Vegetables & Fruits"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub Heading",
          "default": "We deliver organic vegetables & fruits"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "View Details"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
